body {
    background: url(../images/star_wars_xwing.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: scroll;
}

.char-boxes {
    border: green solid 2px;
    background-color: white;
}

.enemy-char-boxes {
    border: black solid 2px;
    background-color: red;
}

.defender-char-boxes {
    color: white;
    border: red solid 2px;
    background-color: black;
}

img {
    width: 100%;
}

.margin-top {
    margin-top: 5px;
}

.margin-left {
    margin-left: 0px;
}

.my-background {
    background-color: rgba(255, 255, 255, 0.6);
    color: inherit;
}

.header-padding {
    padding: 15px 5px;
    color: black;
}

.status-padding {
    padding: 3px 1px;
}
